In [35]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_json('data.json')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14337 entries, 0 to 14336
Data columns (total 44 columns):
acct_type             14337 non-null object
approx_payout_date    14337 non-null int64
body_length           14337 non-null int64
channels              14337 non-null int64
country               14256 non-null object
currency              14337 non-null object
delivery_method       14321 non-null float64
description           14337 non-null object
email_domain          14337 non-null object
event_created         14337 non-null int64
event_end             14337 non-null int64
event_published       14238 non-null float64
event_start           14337 non-null int64
fb_published          14337 non-null int64
gts                   14337 non-null float64
has_analytics         14337 non-null int64
has_header            8928 non-null float64
has_logo              14337 non-null int64
listed                14337 non-null object
name                  14337 non-null object
name_length           14337 non-null int64
num_order             14337 non-null int64
num_payouts           14337 non-null int64
object_id             14337 non-null int64
org_desc              14337 non-null object
org_facebook          14278 non-null float64
org_name              14337 non-null object
org_twitter           14278 non-null float64
payee_name            14337 non-null object
payout_type           14337 non-null object
previous_payouts      14337 non-null object
sale_duration         14182 non-null float64
sale_duration2        14337 non-null int64
show_map              14337 non-null int64
ticket_types          14337 non-null object
user_age              14337 non-null int64
user_created          14337 non-null int64
user_type             14337 non-null int64
venue_address         14337 non-null object
venue_country         13261 non-null object
venue_latitude        13261 non-null float64
venue_longitude       13261 non-null float64
venue_name            13261 non-null object
venue_state           13261 non-null object
dtypes: float64(9), int64(18), object(17)
memory usage: 4.9+ MB

In [5]:
df.head(10)

,acct_type,approx_payout_date,body_length,channels,country,currency,delivery_method,description,email_domain,event_created,...,ticket_types,user_age,user_created,user_type,venue_address,venue_country,venue_latitude,venue_longitude,venue_name,venue_state
0,fraudster_event,1266062400,3852,5,US,USD,0.0,"<p><a href=""http://s432.photobucket.com/albums...",gmail.com,1262739706,...,"[{u'event_id': 527017, u'cost': 25.0, u'availa...",36,1259613950,1,717 Washington Avenue,US,25.777471,-80.133433,INK Nightclub - South Beach,FL
1,premium,1296720000,3499,0,US,USD,1.0,"<p>Join us for a quick, one-night, community-b...",ruf.org,1293832670,...,"[{u'event_id': 786878, u'cost': 35.0, u'availa...",149,1280942776,3,,US,32.776566,-79.930922,"The Charleston, SC area",SC
2,premium,1296172800,2601,8,US,USD,1.0,"<h3><span class=""subcategory""><strong>Teacher ...",pvsd.k12.ca.us,1291090956,...,"[{u'event_id': 787337, u'cost': 93.51, u'avail...",214,1272559388,3,10100 Pioneer Blvd Suite 100,US,33.944201,-118.080419,Los Angeles County Office of Education,CA
3,premium,1388966400,12347,6,IE,EUR,1.0,"<p style=""margin-bottom: 1.3em; padding-bottom...",irishtabletennis.com,1360681570,...,"[{u'event_id': 885645, u'cost': 25.0, u'availa...",889,1283870102,3,,None,NaN,NaN,None,None
4,premium,1297900800,2417,11,US,USD,0.0,<p>Writers and filmmakers need to understand t...,artsandbusinesscouncil.org,1291994666,...,"[{u'event_id': 1114349, u'cost': 150.0, u'avai...",35,1288984065,3,One Marina Park Drive,US,42.353848,-71.044276,Fish & Richardson,MA
5,premium,1300496400,117,6,US,USD,0.0,<p>Come join the Bluegrass Stallions as they t...,bluegrassstallions.com,1294421810,...,"[{u'event_id': 1179983, u'cost': 8.0, u'availa...",299,1268579110,1,,US,38.209797,-84.558831,Georgetown College Alumni Gymnasium,KY
6,premium,1297909800,28,5,US,USD,1.0,<p> </p>\r\n<p> </p>\r\n<p> </p>,naboe.org,1294425018,...,"[{u'event_id': 1180179, u'cost': 22.63, u'avai...",706,1233437951,3,6N East St,US,39.414270,-77.405089,Danielle's Restaurant,MD
7,premium,1296709200,974,12,US,USD,0.0,<p><em>WHEN JEKYLL MET HYDE</em></p>\r\n<p>The...,themagnetictheatre.org,1294427837,...,"[{u'event_id': 1180391, u'cost': 14.0, u'avail...",71,1288276103,3,372 Depot Street,US,35.580468,-82.563855,The Magnetic Field,NC
8,premium,1298185200,4388,4,US,USD,0.0,"<p style=""text-align: center;""><font face=""boo...",credosf.com,1294428122,...,"[{u'event_id': 1180423, u'cost': 250.0, u'avai...",0,1294428121,3,465 California Street,US,37.792847,-122.402082,,
9,premium,1297314000,974,12,US,USD,0.0,<p><em>WHEN JEKYLL MET HYDE</em></p>\r\n<p>The...,themagnetictheatre.org,1294428286,...,"[{u'event_id': 1180435, u'cost': 14.0, u'avail...",71,1288276103,3,372 Depot Street,US,35.580468,-82.563855,The Magnetic Field,NC

In [6]:
df.describe()

/Users/vynguyen/anaconda/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,approx_payout_date,body_length,channels,delivery_method,event_created,event_end,event_published,event_start,fb_published,gts,...,org_facebook,org_twitter,sale_duration,sale_duration2,show_map,user_age,user_created,user_type,venue_latitude,venue_longitude
count,1.433700e+04,14337.000000,14337.000000,14321.000000,1.433700e+04,1.433700e+04,1.423800e+04,1.433700e+04,14337.000000,14337.000000,...,14278.000000,14278.000000,14182.000000,14337.000000,14337.000000,14337.000000,1.433700e+04,14337.000000,13261.000000,13261.000000
mean,1.350933e+09,3672.521936,6.176676,0.439564,1.345825e+09,1.350501e+09,1.340854e+09,1.350205e+09,0.127433,2430.231492,...,7.974436,4.306976,46.869694,50.576759,0.844179,374.226547,1.313492e+09,2.711097,35.221736,-59.490368
std,2.401300e+07,5758.113003,3.860333,0.591487,2.404107e+07,2.401299e+07,8.750386e+07,2.398787e+07,0.333468,9142.308260,...,11.761241,6.011520,54.825253,59.678090,0.362698,418.593616,4.152174e+07,1.606726,20.207588,66.569034
min,1.171256e+09,0.000000,0.000000,0.000000,1.170332e+09,1.170824e+09,0.000000e+00,1.170819e+09,0.000000,0.000000,...,0.000000,0.000000,-1094.000000,-1094.000000,0.000000,0.000000,1.011210e+09,1.000000,-45.045208,-159.390183
25%,1.334221e+09,750.000000,5.000000,NaN,1.329754e+09,1.333789e+09,NaN,1.333406e+09,0.000000,116.410000,...,NaN,NaN,NaN,17.000000,1.000000,13.000000,1.286824e+09,1.000000,NaN,NaN
50%,1.355805e+09,1990.000000,6.000000,NaN,1.351043e+09,1.355373e+09,NaN,1.355000e+09,0.000000,431.930000,...,NaN,NaN,NaN,35.000000,1.000000,242.000000,1.316636e+09,3.000000,NaN,NaN
75%,1.370646e+09,4280.000000,8.000000,NaN,1.365346e+09,1.370214e+09,NaN,1.370048e+09,0.000000,1547.260000,...,NaN,NaN,NaN,63.000000,1.000000,603.000000,1.346790e+09,3.000000,NaN,NaN
max,1.523488e+09,65535.000000,13.000000,3.000000,1.382012e+09,1.523056e+09,1.381608e+09,1.418850e+09,1.000000,306293.930000,...,91.000000,34.000000,980.000000,980.000000,1.000000,3794.000000,1.381543e+09,103.000000,64.844022,176.169492

In [8]:
df['acct_type'].unique()

array([u'fraudster_event', u'premium', u'spammer_warn', u'fraudster',
       u'spammer_limited', u'spammer_noinvite', u'locked', u'tos_lock',
       u'tos_warn', u'fraudster_att', u'spammer_web', u'spammer'], dtype=object)

In [11]:
df['user_created'].value_counts().head()

1259160686    47
1308777954    46
1313805994    44
1264446071    39
1299651441    38
Name: user_created, dtype: int64

In [12]:
df.groupby('acct_type')['user_created'].count()

acct_type
fraudster             437
fraudster_att           5
fraudster_event       851
locked                 54
premium             12373
spammer                 1
spammer_limited       218
spammer_noinvite       84
spammer_warn          144
spammer_web             2
tos_lock               77
tos_warn               91
Name: user_created, dtype: int64

In [13]:
df.groupby('acct_type').count()

,approx_payout_date,body_length,channels,country,currency,delivery_method,description,email_domain,event_created,event_end,...,ticket_types,user_age,user_created,user_type,venue_address,venue_country,venue_latitude,venue_longitude,venue_name,venue_state
acct_type,,,,,,,,,,,,,,,,,,,,,
fraudster,437,437,437,437,437,425,437,437,437,437,...,437,437,437,437,437,330,330,330,330,330
fraudster_att,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,4,4,4,4,4
fraudster_event,851,851,851,851,851,851,851,851,851,851,...,851,851,851,851,851,589,589,589,589,589
locked,54,54,54,54,54,54,54,54,54,54,...,54,54,54,54,54,51,51,51,51,51
premium,12373,12373,12373,12297,12373,12369,12373,12373,12373,12373,...,12373,12373,12373,12373,12373,11700,11700,11700,11700,11700
spammer,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
spammer_limited,218,218,218,214,218,218,218,218,218,218,...,218,218,218,218,218,204,204,204,204,204
spammer_noinvite,84,84,84,84,84,84,84,84,84,84,...,84,84,84,84,84,82,82,82,82,82
spammer_warn,144,144,144,143,144,144,144,144,144,144,...,144,144,144,144,144,140,140,140,140,140
spammer_web,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
tos_lock,77,77,77,77,77,77,77,77,77,77,...,77,77,77,77,77,70,70,70,70,70
tos_warn,91,91,91,91,91,91,91,91,91,91,...,91,91,91,91,91,88,88,88,88,88

In [31]:
df.to_csv('data.csv', encoding='utf-8')

In [25]:
df[(df['acct_type']=='locked')]['description'].iloc[0]

u'<p style="text-align: center;"><span style="font-size: large;"><strong>A new era of tattoo shows is here!</strong></span><br /><br />Since the begining of time man has been drawn to the tattoo, now this art form has created a global culture all of it\'s own. InkFest Live is the new face of tattooing. Gone are the days of shady back room tattooists, today\'s artists are true pros creating mind blowing works of skin art. InkFest Live showcases these artists in an exciting urban environment that will entertain and enlighten. InkFest Live is the first of it\'s kind expo, combining the best tattoo artists, graffiti, vendors, custom cars &amp; bikes and live music performances. 2012 Begins in Concord, NC February 3rd-5th 2012.</p>\r\n<p style="text-align: -webkit-auto;">\xa0</p>'

In [29]:
df[(df['acct_type']=='locked')].iloc[0]

acct_type                                                        locked
approx_payout_date                                           1328925600
body_length                                                         775
channels                                                             11
country                                                              US
currency                                                            USD
delivery_method                                                       1
description           <p style="text-align: center;"><span style="fo...
email_domain                                            inkfestlive.com
event_created                                                1326313347
event_end                                                    1328493600
event_published                                             1.32631e+09
event_start                                                  1328475600
fb_published                                                          1
gts                                                                 150
has_analytics                                                         0
has_header                                                            1
has_logo                                                              0
listed                                                                y
name                   InkFest Live Tour 2012 Concord |  Fusion Seminar
name_length                                                          48
num_order                                                             1
num_payouts                                                           0
object_id                                                       2753403
org_desc              <p><span class="blktxt">Developed by industry ...
org_facebook                                                          0
org_name                                                   InkFest Live
org_twitter                                                           0
payee_name                                                       Seamar
payout_type                                                       CHECK
previous_payouts      [{u'name': u'InkFest Live', u'created': u'2010...
sale_duration                                                        25
sale_duration2                                                       25
show_map                                                              1
ticket_types          [{u'event_id': 2753403, u'cost': 140.76, u'ava...
user_age                                                            699
user_created                                                 1265909067
user_type                                                             3
venue_address                                     4551 Old Airport Road
venue_country                                                        US
venue_latitude                                                  35.3881
venue_longitude                                                -80.5023
venue_name                               Cabarrus Arena & Events Center
venue_state                                                          NC
Name: 107, dtype: object

In [28]:
df[(df['acct_type']=='fraudster_event')].iloc[0]

acct_type                                               fraudster_event
approx_payout_date                                           1266062400
body_length                                                        3852
channels                                                              5
country                                                              US
currency                                                            USD
delivery_method                                                       0
description           <p><a href="http://s432.photobucket.com/albums...
email_domain                                                  gmail.com
event_created                                                1262739706
event_end                                                    1265630400
event_published                                             1.26311e+09
event_start                                                  1265594400
fb_published                                                          0
gts                                                                   0
has_analytics                                                         0
has_header                                                            1
has_logo                                                              0
listed                                                                y
name                  99 HOUR "NO SLEEP" SUPER BOWL CELEBRITY WEEKEN...
name_length                                                          60
num_order                                                             0
num_payouts                                                           0
object_id                                                        527017
org_desc
org_facebook                                                          0
org_name                          Party Starz Ent & Diverse Int'l Group
org_twitter                                                           0
payee_name
payout_type
previous_payouts                                                     []
sale_duration                                                        29
sale_duration2                                                       33
show_map                                                              1
ticket_types          [{u'event_id': 527017, u'cost': 25.0, u'availa...
user_age                                                             36
user_created                                                 1259613950
user_type                                                             1
venue_address                                     717 Washington Avenue
venue_country                                                        US
venue_latitude                                                  25.7775
venue_longitude                                                -80.1334
venue_name                                  INK Nightclub - South Beach
venue_state                                                          FL
Name: 0, dtype: object

In [41]:
df.groupby(['acct_type', 'has_logo'])['channels'].count()

acct_type         has_logo
fraudster         0             155
                  1             282
fraudster_att     0               1
                  1               4
fraudster_event   0             302
                  1             549
locked            0              11
                  1              43
premium           0            1719
                  1           10654
spammer           1               1
spammer_limited   0              26
                  1             192
spammer_noinvite  0               8
                  1              76
spammer_warn      0              22
                  1             122
spammer_web       1               2
tos_lock          0               6
                  1              71
tos_warn          0              14
                  1              77
Name: channels, dtype: int64

In [42]:
fraud_flags = ['fraudster_event', 'fraudster', 'fraudster_att']

df['Fraud'] = df['acct_type'].map(lambda x: 1 if x in fraud_flags else 0)

In [44]:
df['payout_type'].value_counts()

ACH      10666
CHECK     3178
           493
Name: payout_type, dtype: int64

In [45]:
df['country'].value_counts()

US    9234
GB    2083
CA    1262
AU     742
       316
NZ      73
IE      48
MA      47
DE      43
FR      40
NL      36
VN      32
ES      27
A1      25
PK      22
HU      18
BE      18
PH      15
ID      12
PR      10
CI       9
RO       8
AT       8
AR       8
CZ       7
NG       7
SG       7
TH       6
CH       6
DZ       6
      ...
MX       2
RU       2
TR       2
GR       2
QA       2
UY       2
NA       2
PT       2
CM       2
CN       2
SI       1
IM       1
IS       1
VI       1
VE       1
AE       1
CR       1
BB       1
IL       1
BS       1
JE       1
LB       1
NI       1
PE       1
TJ       1
EC       1
KE       1
PS       1
DK       1
CO       1
Name: country, dtype: int64

In [48]:
df['listed'].value_counts()

y    12291
n     2046
Name: listed, dtype: int64

In [51]:
df['payout_type'].value_counts()

ACH      10666
CHECK     3178
           493
Name: payout_type, dtype: int64

In [52]:
df['venue_country'].value_counts()

US    8336
GB    1838
CA    1134
       876
AU     683
FR      52
NZ      50
IE      44
DE      36
NL      30
ES      20
MA      18
PH      15
BE      15
AR       9
ID       9
VN       6
AE       5
PR       5
AT       4
ZA       4
PL       3
TR       3
PK       3
SG       3
KE       3
TH       3
HU       3
BS       3
NA       2
      ...
TT       1
NG       1
IT       1
MC       1
MY       1
IS       1
NO       1
FI       1
SK       1
VI       1
CY       1
LU       1
RU       1
RE       1
UY       1
HK       1
KH       1
DO       1
DK       1
CZ       1
DZ       1
QA       1
JP       1
JM       1
JE       1
HT       1
BG       1
CM       1
OM       1
IL       1
Name: venue_country, dtype: int64

In [53]:
df['venue_state'].value_counts()

                             2625
CA                           1377
NY                            762
TX                            487
FL                            406
IL                            352
London                        332
MA                            259
Ontario                       254
Gt Lon                        252
GA                            233
PA                            210
ON                            200
NC                            197
WA                            196
VA                            189
CO                            189
OH                            181
England                       174
MD                            172
NJ                            158
DC                            153
MI                            148
British Columbia              142
NSW                           135
MN                            127
IN                            123
AZ                            119
BC                            108
TN                            106
                             ...
Sor-Trondelag                   1
Scottish Borders, The           1
Vermont                         1
West Java                       1
Suffolk County                  1
Durham                          1
Saint-Paul                      1
DKI Jakarta                     1
Punjab                          1
Central Java                    1
Lisbon                          1
CA 94607                        1
Tangier-Tetouan                 1
Kentucky                        1
South Carolina                  1
Distrito Federal                1
Virginia                        1
Wokingham                       1
Phuket                          1
Wirral                          1
Voronezhskaya oblast            1
Bracknell Forest                1
Newfoundland And Labrador       1
CA 94704                        1
Doukkala-Abda                   1
Wiltshire                       1
Khanh Hoa province              1
Caerphilly                      1
TIBURON                         1
ALAKSA                          1
Name: venue_state, dtype: int64

In [54]:
df['currency'].value_counts()

USD    9696
GBP    2222
CAD    1322
AUD     779
EUR     262
NZD      55
MXN       1
Name: currency, dtype: int64